@{
    ViewData["Title"] = "Students";
}

<h4><a href="students/create">Enroll new student</a></h4>

@foreach (var student in Model)
{
    <p><a href="students/@student.Id">@student.FirstName @student.LastName</a></p>
}
