@{
    ViewData["Title"] = "Home Page";
}
<div class="jumbotron">
    <h1>THE COOL SCHOOL</h1>
</div>
<div>
    <h3><a href="/courses">COURSES</a></h3>
    <h4>The power of learning</h4>
</div>

<div>
    <h3><a href="/students">STUDENTS</a></h3>
    <h4>You'll totally use this degree, we swear!</h4>
</div>